/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #ffffff;
	background-color: #242424;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #2370b6;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #115098;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #2370b6; }
a:hover { color: #f0e80a; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

/* Post body links */
.postlink {
	color: #2370b6;
}

.postlink:visited {
	color: #2370b6;
}

.postlink:hover {
	color: #f0e80a;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #f0e80a;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #191919;
	border-color: #000000;
}

.headerbar {
	color: #FFFFFF;
	background-color:#2d2d2d;
	background: url(images/logo_bg.gif);
}

.forumbg, .forabg {
	background: #3a7bba url(images/th.gif) repeat-x top;
	border-color:#000000;
}

.navbar {
	background: #2f74b3 url(images/buttons.gif);
	border-color:#000000;
}

.panel {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	border-color:#000000;
	box-shadow:1px 1px 0 0 #3c3c3c inset,-1px -1px 0 0 #131313 inset;
}

.post:target .content {
	color: #ffffff;
}

.post:target h3 a {
	color: #f0e80a;
}

.bg1 {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

.bg2 {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

.bg3	{
	background-color: #191919;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site_logo {
	background-image: url("images/100p88nobg.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #ccdff0;
}

table.table1 tbody tr {
	border-color: #000000;
	box-shadow:1px 1px 0 0 #3c3c3c inset;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #191919;
	color: #ffffff;
}

table.table1 td {
	color: #ffffff;
}

table.table1 tbody td {
	border-top-color: #000000;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #ffffff;
}

dl.details dd {
	color: #c0c0c0;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green{
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red{
	color: #dC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange{
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray{
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray{
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray{
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black{
	color: #2370b6;
}

.alert_close .icon:before {
	background-color: #000000;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #000000;
}

.jumpbox-cat-link {
	background: #2f74b3 url(images/th.gif);
	border-top-color: #2f74b3;
	color: #ccdff0;
}

.jumpbox-cat-link:hover {
	background: #2f74b3;
	border-top-color: #12A3EB;
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background: #2f74b3 url(images/th.gif);
	color:#ccdff0;
}

.jumpbox-forum-link:hover {
	background:#2f74b3;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #313131 transparent;
}

.jumpbox-sub-link {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

.jumpbox-sub-link:hover {
	background-color: #404040; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #313131 0%, #404040 100%);
	background-image: linear-gradient(to bottom, #313131 0%, #404040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#404040',GradientType=0 ); /* IE6-9 */
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #cccccc;
}

.error {
	color: #f0e80a;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	border-color:#cccccc;
}

p.post-notice {
	background:#191919 url(images/hdr_mid.gif);
	border-color:#000000;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.topiclist li {
	color: #ffffff;
}

ul.topiclist dd {
	border-left-color: #131313;
}

.rtl ul.topiclist dd {
	border-right-color: #131313;
	border-left-color: transparent;
}

li.row {
	border-top-color:  #3c3c3c;
	border-bottom-color: #131313;
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

li.row strong {
	color: #ffffff;
}

li.row:hover {
	/*background-color: #F6F4D0;*/
}

li.row:hover dd {
	/*border-left-color: #CCCCCC;*/
}

.rtl li.row:hover dd {
	/*border-right-color: #CCCCCC;
	border-left-color: transparent;*/
}

li.header dt, li.header dd {
	color: #ccdff0;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #cccccc;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #ffffff;
}

.content h2, .panel h2 {
	color: #2f74b3;
}

dl.faq dt {
	color: #ffffff;
}

.posthilit {
	background-color: #2f74b3;
	color: #ffffff;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #191919;
	border-color:#2f74b3;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#222222;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #191919;
}

/* Code block */
.codebox {
	background-color: #191919;
	border-color:#2f74b3;
}

.codebox p {
	border-bottom-color: #2f74b3;
}

.codebox code {
	color: #f0e80a;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #191919;
	border-color:  #2f74b3;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #2f74b3;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #cccccc;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #2f74b3;
	color: #ffffff;
}

fieldset.polls dl.voted {
	color: #f0e80a;
}

fieldset.polls dd div {
	color: #FFFFFF;
}


.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	border-color: #2f74b3;
	background: url(images/buttons.gif);
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #cccccc;
	border-color: #131313;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #dddddd;
	font-weight:bold;
}

.online {
	background-image: url("en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #2f74b3;
	background-color: #2c2c2c; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #2c2c2c 0%, #515151 100%);
	background-image: linear-gradient(to bottom, #2c2c2c 0%,#515151 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
	color: #8f8f8f;
}

.button:hover {
	border-color: #ffffff;
	background-color: #515151; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #515151 0%, #2c2c2c 100%);
	background-image: linear-gradient(to bottom, #515151 0%,#2c2c2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
}

.button:focus {
	border-color: #f0e80a;
	background-color: #515151; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #515151 0%, #2c2c2c 100%);
	background-image: linear-gradient(to bottom, #515151 0%,#2c2c2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
}

.button .icon,
.button-secondary {
	color: #c0c0c0;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #2f74b3;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #C7C3BF;
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #C7C3BF; }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #404040;
	filter: none;
	border-color: #2f74b3;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #ffffff;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	#eeeeee;
}

.pagination li.active span {
	background: #2f74b3;
	border-color: #2f74b3;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #2f74b3;
	border-color: #2f74b3;
	filter: none;
	color: #f0e80a;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox {
	border-color: #2f74b3;
	background-color:#272727;
	color:#ffffff;
}

.search-box .inputbox:hover {
	border-color:#ffffff;
}

.search-box .inputbox:focus {
	border-color:#f0e80a;
}

.search-header {
	box-shadow: 0 0 10px #0075B0;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("images/announce_read.gif"); }
.global_read_mine					{ background-image: url("images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("images/announce_read_locked.gif"); }
.global_read_locked_mine			{ background-image: url("images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("images/announce_unread.gif"); }
.global_unread_mine					{ background-image: url("images/announce_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("images/announce_unread_locked.gif"); }
.global_unread_locked_mine			{ background-image: url("images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("images/announce_read.gif"); }
.announce_read_mine					{ background-image: url("images/announce_read_mine.gif"); }
.announce_read_locked				{ background-image: url("images/announce_read_locked.gif"); }
.announce_read_locked_mine			{ background-image: url("images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("images/announce_unread.gif"); }
.announce_unread_mine				{ background-image: url("images/announce_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("images/announce_unread_locked.gif"); }
.announce_unread_locked_mine		{ background-image: url("images/announce_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("images/forum_link.gif"); }
.forum_read							{ background-image: url("images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("images/forum_read_locked.gif"); }
.forum_read_subforum				{ background-image: url("images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("images/forum_unread.gif"); }
.forum_unread_locked				{ background-image: url("images/forum_unread_locked.gif"); }
.forum_unread_subforum				{ background-image: url("images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("images/topic_moved.gif"); }
.pm_read,
.topic_read							{ background-image: url("images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("images/topic_read_hot.gif"); }
.topic_read_hot_mine				{ background-image: url("images/topic_read_hot_mine.gif"); }
.topic_read_locked					{ background-image: url("images/topic_read_locked.gif"); }
.topic_read_locked_mine				{ background-image: url("images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("images/topic_unread_hot.gif"); }
.topic_unread_hot_mine				{ background-image: url("images/topic_unread_hot_mine.gif"); }
.topic_unread_locked				{ background-image: url("images/topic_unread_locked.gif"); }
.topic_unread_locked_mine			{ background-image: url("images/topic_unread_locked_mine.gif"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-color: #000000;
	border-top-color: #3c3c3c;
}

ul.cplist {
	border-top-color: #000000;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #ffffff;
}

.panel-container table.table1 thead th {
	color: #ffffff;
	border-bottom-color: #000000;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color:#272727;
	background-image:none;
	border-color: #000000;
	box-shadow: 0 1px 1px #3c3c3c inset;
	color: #cccccc;
	box-shadow:0 3px 0 0 #272727;
}

.tabs .activetab > a:hover {
	color: #f0e80a;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #E1EBF2;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #2370b6;
}

.responsive-tab .responsive-tab-link:hover:before, .responsive-tab .responsive-tab-link:focus:before {
	border-color: #f0e80a;
}

/* UCP navigation menunavlinks
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #2370b6;
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

.navigation a:hover {
	background: #404040;
	color: #f0e80a;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	background: #515151;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	color:#f0e80a;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #272727;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #ffffff;
}

.panel-container .panel {
	background-color: #F9F9F9;
}

/* Friends list */
.cp-mini {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
	box-shadow:1px 1px 0 0 #3c3c3c inset,-1px -1px 0 0 #131313 inset;
	border-color:#000000;
	background-position:left 29px;
}

dl.mini dt {
	color:#ccdff0;
	background:#2f74b3 url("images/buttons.gif");
	border-color:#000000;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #f0e80a;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #2f74b3;
	background-color: #313131;
	color: #ffffff;
}

label {
	color: #ffffff;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #ffffff;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	/*color: #000000;*/
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #222222;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #ffffff;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #222222;
	border-color: #2f74b3;
	color: #ffffff;
}

.inputbox:-moz-placeholder {
	color: #cccccc;
}

.inputbox::-webkit-input-placeholder {
	color: #cccccc;
}

.inputbox:hover {
	border-color: #ffffff;
}

.inputbox:focus {
	border-color: #f0e80a;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #d0d0d0;
	background-color: #222222;
	border-color:#2f74b3;
}

a.button1, input.button1 {
	border-color: #2f74b3;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #2f74b3;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #d0d0d0;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #ffffff;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #f0e80a;
	color: #ffffff;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #272727; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #272727 0%, #313131 100%);
	background-image: linear-gradient(to bottom, #272727 0%, #313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	border-color:#000000;
	box-shadow:1px 1px 0 0 #3c3c3c inset,-1px -1px 0 0 #131313 inset;
}
.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: transparent;
	background-image: url("images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #2f74b3;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #2f74b3;
	color: #ffffff;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color:#242424;
}

.dropdown .pointer {
	border-color: #000000 transparent;
}

.dropdown .pointer-inner {
	border-color: #242424 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #242424 transparent;
}

.dropdown .dropdown-contents {
	background: #242424;
	border-color: #000000;
	box-shadow: 1px 3px 5px rgba(47,116,179,0.2)/*rgba(0, 0, 0, 0.2)*/;
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(47,116,179,0.2);
}

.dropdown li, .dropdown li li {
	border-color: #2f74b3;
}

.dropdown li.separator {
	border-color: #2f74b3;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #cccccc;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #f0e80a;
}

.badge {
	background-color: #ffffff;
	color: #2f74b3;
}
