/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:       AcidTech
	Based on style:   prosilver (this is the default phpBB3 style) and AcidTech for phpBB3.0, by ST Software
	Original author:  Tom Beddard ( http://www.subBlue.com/ )    
	Modified by:      Ian Bradley
    --------------------------------------------------------------
*/

@import url("normalize.css%3Fv=3.2.css");
@import url("base.css%3Fv=3.2.css");
@import url("utilities.css%3Fv=3.2.css");
@import url("common.css%3Fv=3.2.css");
@import url("links.css%3Fv=3.2.css");
@import url("content.css%3Fv=3.2.css");
@import url("buttons.css%3Fv=3.2.css");
@import url("cp.css%3Fv=3.2.css");
@import url("forms.css%3Fv=3.2.css");
@import url("icons.css%3Fv=3.2.css");
@import url("colours.css%3Fv=3.2.css");
@import url("responsive.css%3Fv=3.2.css");
@import url("acidtech.css%3Fv=3.2.css");

.archivebanner {
  background-color: #8C1F29;
  color: white;
  text-align: center;
  padding: 2em;
}
